<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Date of Occurance</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <tr  *ngFor="let disaster of disasters">
          <td> {{ disaster.name }}</td>
          <td>{{ disaster.type }}</td>
          <td>{{ disaster.dateOfOccurance['dayOfMonth']+
            ', '+disaster.dateOfOccurance['dayOfWeek'].toLowerCase()+
            ' - ' +disaster.dateOfOccurance['month'].toLowerCase()+
            ' - '+disaster.dateOfOccurance['year'] }}</td>

          <td><button
            (click)="deleteDisaster(disaster.id)"
            class="btn btn-default btn-sm">Delete</button>
            <button
              [routerLink]="['/disaster/update',disaster.id]"
              class="btn btn-default btn-sm">Update</button>
            </td>
    </tr>

  </tbody>
</table>

