<div class="card" style="width: 18rem;">
  <h5 class="card-header bg-light text-black">Selections for Upazillas</h5>
  <div class="card-body">
<label for="dvision">Divisions</label>
<select #selectedDivision [ngModel]="selectedDivision" (ngModelChange)="getDistricts($event)" name="division" class="form-control">
  <option *ngFor="let division of divisions" [value]="division.id">{{division.name}}</option>
</select>
<label for="district">districts</label>
<select #selectedDistrict [ngModel]="selectedDistrict" (ngModelChange)="getUpazillas($event)" name="upazillas" class="form-control">
  <option *ngFor="let district of districts" [value]="district.id">
    {{district.name}}
  </option>
</select>
</div>
</div>
<table class="table">
<thead class="thead-dark">
  <tr>
    <th scope="col">Upazilla Name</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
    <tr  *ngFor="let upazilla of upazillas">
        <td> {{ upazilla.name }}</td>
        <td><button
          class="btn btn-default btn-sm">Delete</button></td>
  </tr>

</tbody>
</table>

