<form #f="ngForm">  
 <div class="form-group">
   <label for="division">Division</label>
   <select ngModel name="division" id="division" class="form-control" (ngModelChange)="getDistrict($event)">
   <option *ngFor="let dv of divisions" [ngValue]="dv.id" >{{dv.name}}</option>
 </select>
 <label for="district">District</label>
   <select ngModel name="district" id="district" class="form-control">
   <option *ngFor="let dist of districts" [ngValue]="dist.id" >{{dist.name}}</option>
 </select>
</div> 

<p>{{f.value|json}}</p>

</form>
